{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
    </div>
      {% if is_admin_view %}
        <h2>Admin Dashboard</h2>
        <!-- View unmatched requests  -->
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Unmatched Requests</h5>
                    <p class="card-text">
                        <span class="h2">{{ unmatched_count }}</span>
                        <br>
                        pending requests
                    </p>
                    <a href="{% url 'admin_requested_sessions' %}" class="btn btn-primary">
                        View All Requests
                    </a>
                </div>
            </div>
        </div>

        <!-- View All Users Box  -->
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">View All Users</h5>
              <p class="card-text">
                <span class="h2">{{ total_users_count }}</span><br>
                users in the system
              </p>
              <a href="{% url 'view_all_users' %}" class="btn btn-primary">
                View All Users
              </a>
            </div>
          </div>
        </div>

      {% else %}

        <!-- Student/Tutor Dashboard -->
        <div class="col-md-8">
          <h2>Dashboard</h2>
          <!-- Placeholder for other student/tutor-specific features -->
        </div>
        <div class="col-md-4">
          <h2>Mini Calendar</h2>
          <table class="mini-calendar-table">
            <thead>
              <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
            </thead>
            <tbody>
              {% for week in calendar_month %}
              <tr>
                {% for day in week %}
                {% if day == 0 %}
                <td></td>
                {% elif day in highlighted_dates %}
                <td class="highlighted-day">{{ day }}</td>
                {% else %}
                <td>{{ day }}</td>
                {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'calendar_view' %}" class="btn btn-secondary mt-3">View Full Calendar</a>
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}
