{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Create Invoice</h1>
    </div>
    <form method="get">
      {% csrf_token %}
      {{form}}
      <button type="submit" class="btn btn-primary">Select Tutor</button>
    </form>
    <p>
      The tutor's name is {{name}} and have {{count}} lessons
    </p>
    {% if request_sessions %}
      <p>
        Yo
      </p>
    {% endif %}
    
  </div>
</div>
{% endblock %}