<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      Task Manager
    </a>
     <!-- Responsive toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        {% if user.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_requested_sessions' %}">Requested Sessions</a>
          </li>
        {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'invoice' %}">Invoices</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calendar_view' %}">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Placeholder</a>
        </li>
      </ul>

    {% if user.is_authenticated %}
      {% include 'partials/menu.html' %}
    {% endif %}
  </div>
</nav>